<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Register a new user</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script></head>
</head>
<body>
	<div class="container">
		<th:block th:if="${message}">
			<p th:text="${message}"></p>
		</th:block>
		
		<div class="col-md-offset-2 col-md-7"> 
			<h3 class="text-center">Register a new user</h3>
		
			<div class="panel panel-info">
					<div class="panel-heading">
							<div class="panel-title">Add user</div>
					</div>
					<div class="panel-body">
						<form th:action="@{/regist}" th:object="${userBean}" method="post" class="form-horizontal">
							<div class="form-group">
								<label th:for="*{userName}" class="col-md-3 control-label">User Name</label>
								<div class="col-md-9">
									<input th:field="*{userName}" class="form-control"/>
								</div>
							</div>

							<div class="form-group">
								<label th:for="*{password}" class="col-md-3 control-label">Password</label>
								<div class="col-md-9">
									<input th:field="*{password}" class="form-control"/>
								</div>
							</div>

							<div class="form-group">
								<label th:for="*{roleCodes}" class="col-md-3 control-label">Password</label>
								<div class="col-md-9">
										<select class="form-control selectpicker" th:field="*{roleCodes}" multiple="multiple">
											<option th:each="role: ${roles}"
															th:value="${role.roleCode}"
															th:text="${role.roleName}"></option>
										</select>
									</div>
							</div>

							<div class="form-group">
								<!-- Button -->
								<div class="col-md-offset-3 col-md-9">
									<input type="submit" class="btn btn-primary" value="Create">
								</div>
							</div>
						</form>
					</div>
			</div>
		</div>
	</div>
</body>
</html>