<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script></head>
</head>

<body>

	<div class="container">

		<!-- Display message  -->
		<th:block th:if="${message}">
			<p th:text="${message}"></p>
		</th:block>

		<div class="col-md-offset-2 col-md-7">
			<h3 class="text-center">Enter user name and password</h3>

			<div class="panel panel-info">
				<div class="panel-heading">
						<div class="panel-title">Login</div>
				</div>

				<div class="panel-body">
					<form name='f' th:action="@{/j_spring_security_check}" method='POST' class="form-horizontal">
						<div class="form-group">
							<label class="col-md-3 control-label">User Name</label>
							<div class="col-md-9">
								<input type='text' name='username' class="form-control"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Password</label>
							<div class="col-md-9">
								<input type='password' name='password' class="form-control"/>
							</div>
						</div>


						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<div class="checkbox">
								<label >
									<input type="checkbox" name="remember-me"> Remember me?
								</label>
								</div>
							</div>
						</div>

						<div class="form-group">
								<!-- Button -->
								<div class="col-md-offset-3 col-md-9">
									<input type="submit" class="btn btn-primary" value="Login">
								</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

</body>
</html>